@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    color: rgba(13, 19, 33, 1);
    font-family: "Azeret Mono", monospace;
    font-weight: normal;
    font-style: normal;
    margin: 0;
}

.shared-title{
    font-size: 32px;
    font-weight: 800;
    line-height: 26px;
}

.shared-details{
    padding: 0 300px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 0 60px;
    line-height: 26px;
}
/* Header Styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 150px;
}

nav>.name{
    font-size: 28px;
    font-weight: 800;
}

nav>.resume-download{
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    padding: 17px 24px;
    border-color: rgba(13, 19, 33, 1);
    cursor: pointer;
}

.banner{
    /* display: block;
    justify-content: center;
    align-items: center; */
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26px 220px 45px;
}

.banner-title{
    font-size: 48px;
    font-weight: 800;
    margin-top: 32px;
}


.contact-button{
    border-radius: 8px;
    background-color: rgba(13, 19, 33, 1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    margin-top: 32px;
    text-decoration: none;
    cursor: pointer;
}

/* Main Body Style */

main{
    margin: 0 152px 0 148px;
}

/* Style my-path Section */

.my-path{
    margin-top: 70px;
    margin-bottom: 0;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
    text-align: center;
    padding: 80px 100px;
    padding-bottom: 0;
}

/* .about-path{
    padding: 0 40px;
    margin-bottom: 10px;
} */

/* .what-path{
    margin-bottom: 0;
    padding-bottom: 0;
} */
/* .path-description{
    font-size: 16px;
    padding-top: 20px;
} */
.reasons{
    display: block;
    padding-bottom: 80px;
}

.reason{
    display: flex;
    background-color: white;
    margin-top: 32px;
    border-radius: 16px;
    padding: 48px;
    justify-content: space-between;
    align-items: start;
}

#middle-reason{
    gap: 25px;
}
.reason-details{
    text-align: left;
    max-width: 477px;
    margin-right: 280px;
}

.reason-title{
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    line-height: 36px;
}

.reason-description{
    font-size: 16px;
    line-height: 26px;
    margin: 26px 0;
}

.learn-more{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: white;
    color: rgba(13, 19, 33, 0.7);
    border-color: rgba(13, 19, 33, 0.608);
    cursor: pointer;
}

/* Style my-inspiration section */

.my-inspiration{
    margin-top: 90px;
    text-align: center;
}

.inspiration-details{
    padding-right: 47px;
    padding-left: 47px;
    margin-bottom: 10px;
}

.inspiration-frame{
    padding: 32px;
    border-radius: 16px;
    border: 2px solid rgba(13, 19, 33, 0.2);
    margin-top: 25px;
}

.insperation-video{
    width: 100%;
    height: 650px;
    border-radius: 16px;
}

.my-current-target{
    text-align: center;
    margin-top: 150px;
}


.ct-skill-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
    text-align: left;
    padding: 40px;
}

.ct-skill-card{
    border-radius: 16px;
    padding: 50px;
}


.html{
    background-color: rgba(255, 76, 30, 0.05);
}

.css{
    background-color: rgba(0, 76, 232, 0.05);
}

.js{
    background-color: rgba(255, 223, 0, 0.05);
}

.skill-name{
    font-size: 24px;
    margin-top: 20px;
    line-height: 36px;
    font-weight: 800;
}

.skill-description{
    font-size: 16px;
    line-height: 26px;
}

.more-about-skill{
    display: inline-block;
    margin-top: 24px;
    font-size: 16px;
    font-weight: 700;
}

.my-next-target{
    margin-top: 111px;
    text-align: center;
}

.nt-skill-card{
    display: flex;
    text-align: left;
    gap: 24px;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-top: 24px;
}



/* Style feedback banner section */

.feedback-banner{
    margin-top: 49px;
    border-radius: 16px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.519), rgba(0, 0, 0, 0.771)), url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 64px 205px;
    text-align: center;
}

.feedback-title{
    padding-top: 18px;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    color: white;
}

.feedback-description{
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.713);
    padding: 50px;
}

.feedback-input{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;
    margin-bottom: 25px;
}

.feedback-input>input[type=text]{
    width: 550px;
    height: 20px;
    border-radius: 8px;
    border: none;
    padding: 19px;
}

.feedback-input>input[type=submit]{
    width: 120px;
    border-radius: 8px;
    font-weight: 600;
}

/* style footer */

.footer-contain{
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    margin-top: 80px;
    padding: 32px 150px;
    align-items: center;
    justify-content: space-between;
}

.footer-text{
    font-size: 20px;
    font-weight: 600;
}
.contact-list{
    display: flex;
    gap: 24px;
}

html {
    scroll-behavior: smooth;
}